.img-icon {
  position: relative;
  width: 1396px;
  height: 937px;
  object-fit: cover;
}
.bg,
.blur {
  width: 1401px;
  height: 937px;
}
.blur {
  position: relative;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(88px);
  margin-top: -937px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: var(--br-69xl);
  width: 464px;
  height: 919px;
  object-fit: cover;
}
.frame-item {
  position: relative;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.group-parent {
  position: absolute;
  top: 136px;
  left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-div {
  position: absolute;
  top: 218px;
  left: 148px;
  border-radius: var(--br-5xl);
  background-color: var(--color-blue);
  width: 4px;
  height: 28px;
}
.frame-child2 {
  position: absolute;
  top: 56px;
  left: 50.2px;
  width: 56.5px;
  height: 43.4px;
  object-fit: cover;
}
.frame-child3 {
  position: relative;
  width: 64px;
  height: 65px;
  object-fit: cover;
}
.frame-child4,
.frame-child5 {
  border-radius: var(--br-1215xl);
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 64px;
  background-color: var(--color-gray-100);
  width: 131px;
  height: 64px;
}
.frame-child5 {
  top: 58px;
  left: 60px;
  background-color: var(--color-gray-200);
  width: 68px;
  height: 56px;
}
.eng,
.frame-child5,
.line-icon {
  position: absolute;
}
.line-icon {
  top: 40px;
  left: 32px;
  width: 0;
  height: 10px;
  object-fit: contain;
}
.eng {
  top: 15px;
  left: 19px;
}
.vuesaxlineartranslate-icon {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.rectangle-parent {
  position: relative;
  width: 64px;
  height: 131px;
}
.group-container {
  position: absolute;
  top: 718px;
  left: 48px;
  width: 64px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  color: var(--color-lightslategray-100);
  font-family: var(--paragraph-large);
}
.main-ing-icon {
  position: absolute;
  top: 7.5px;
  left: 160px;
  border-radius: var(--br-69xl);
  width: 1232px;
  height: 919.5px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.div {
  position: relative;
  font-weight: 500;
}
.vuesaxlinearticket-icon {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.noti-child {
  position: relative;
  border-right: 1px dashed var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
  opacity: 0.3;
}
.noti-inner {
  position: relative;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.noti {
  position: absolute;
  top: 29px;
  left: 694px;
  border-radius: var(--br-104xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--color-lightslategray-100);
}
.vuesaxlineardirect-left-icon {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.back,
.vuesaxlineardirect-left-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vuesaxlineardirect-left-parent {
  gap: var(--gap-5xs);
}
.back {
  position: absolute;
  top: 29px;
  left: 284px;
  border-radius: var(--br-45xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 100px rgba(218, 220, 245, 0.3);
  height: 54px;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.vuesaxlineardirect-left-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
  transform: rotate(-180deg);
}
.mext,
.next-the-null {
  transform: rotate(180deg);
}
.next-the-null {
  position: relative;
  font-weight: 500;
}
.mext {
  position: absolute;
  top: 29px;
  left: 1331px;
  border-radius: var(--br-45xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 100px rgba(218, 220, 245, 0.3);
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  transform-origin: 0 0;
}
.vuesaxlineardirect-left-icon2 {
  position: absolute;
  top: 525px;
  left: 186px;
  width: 91.6px;
  height: 91.6px;
  object-fit: contain;
}
.vip-ii {
  position: absolute;
  top: 625px;
  left: 61px;
  font-family: var(--paragraph-large);
}
.frame-child6,
.rectangle-icon {
  position: absolute;
  top: 330.8px;
  left: 0;
  width: 492px;
  height: 330.8px;
  object-fit: cover;
}
.frame-child6 {
  top: 41px;
  left: 191.5px;
  width: 236.8px;
  height: 108.5px;
}
.vuesaxlinearheart-icon {
  position: relative;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.b {
  position: relative;
}
.vuesaxlinearheart-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
}
.line-div {
  position: relative;
  border-right: 1px dashed var(--white);
  box-sizing: border-box;
  width: 1px;
  height: 37px;
  opacity: 0.3;
}
.frame-parent,
.vuesaxlinearstar-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent {
  position: absolute;
  top: 199px;
  left: 160.5px;
  border-radius: var(--br-45xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 100px rgba(218, 220, 245, 0.3);
  width: 308px;
  height: 115px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.icon,
.oct-2024 {
  position: relative;
}
.oct-2024 {
  letter-spacing: 0.1em;
  font-weight: 500;
}
.icon {
  width: 65.2px;
  height: 42.9px;
  object-fit: cover;
}
.oct-2024-parent {
  position: absolute;
  top: 46px;
  left: 47.5px;
  width: 65.2px;
  height: 61.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-7xs);
  font-family: var(--font-outfit);
}
.tittle-child,
.vector-parent {
  position: relative;
  width: 492px;
  height: 330.8px;
}
.tittle-child {
  width: 116.6px;
  height: 118.5px;
  object-fit: cover;
  margin-top: -125px;
}
.tittle {
  position: absolute;
  top: 588px;
  left: 892px;
  width: 492px;
  height: 330.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-xs);
  font-family: var(--paragraph-large);
}
.frame-child8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 275px;
  object-fit: cover;
}
.promo1 {
  position: absolute;
  top: 142px;
  left: 47px;
  font-weight: 500;
}
.div2,
.ready {
  position: absolute;
  top: 9px;
  left: 60px;
}
.div2 {
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  font-family: var(--paragraph-large);
  color: var(--white);
}
.ready-parent {
  position: absolute;
  top: 180px;
  left: 47px;
  width: 102px;
  height: 57px;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 275px;
}
.promo-child,
.promo-inner,
.promo-item {
  position: absolute;
  top: 36px;
  left: 38px;
  border-radius: var(--br-45xl);
  width: 85px;
  height: 43px;
  object-fit: contain;
}
.promo-inner,
.promo-item {
  top: 73px;
  width: 128px;
}
.promo-inner {
  left: 152px;
  width: 83.6px;
  height: 60.9px;
}
.promo {
  position: absolute;
  top: 644px;
  left: 159px;
  width: 305px;
  height: 275px;
  font-size: var(--font-size-5xl);
  color: var(--color-lightslategray-200);
}
.profile-icon {
  position: absolute;
  top: 407px;
  left: 16px;
  width: 128px;
  height: 281px;
  object-fit: cover;
}
.bg-parent {
  position: relative;
  border-radius: var(--br-61xl) var(--br-77xl) var(--br-77xl) var(--br-61xl);
  border: 1px solid #232a40;
  box-sizing: border-box;
  width: 100%;
  height: 939px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-outfit);
}
