.valorant-icon1 {
  position: absolute;
  top: 6px;
  left: -184px;
  width: 502.2px;
  height: 2474px;
  object-fit: contain;
}
.image-5-icon1 {
  height: 160.37%;
  width: 56.28%;
  top: 12.56%;
  right: 26.69%;
  bottom: -72.93%;
  left: 17.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: screen;
}
.gradient-icon1,
.image-4-icon1,
.image-5-icon1 {
  position: absolute;
  object-fit: cover;
}
.image-4-icon1 {
  height: 160.37%;
  width: 56.28%;
  top: 12.37%;
  right: 26.69%;
  bottom: -72.74%;
  left: 17.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
  mix-blend-mode: screen;
}
.gradient-icon1 {
  top: calc(50% - 1338.5px);
  left: calc(50% - 1355.5px);
  width: 2706px;
  height: 2706px;
  mix-blend-mode: lighten;
}
.frame-child15,
.frame-child16 {
  position: relative;
  width: 45.6px;
  height: 35px;
  object-fit: cover;
}
.frame-child16 {
  width: 64px;
  height: 64px;
}
.group-parent3,
.group-parent4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.group-parent4 {
  flex-shrink: 0;
  align-items: flex-start;
}
.group-parent3 {
  position: absolute;
  top: 352px;
  left: 357px;
  border-radius: var(--br-53xl);
  background-color: var(--color-gray-800);
  backdrop-filter: blur(24px);
  border: 1px solid var(--color-black);
  align-items: center;
  padding: var(--padding-29xl) var(--padding-53xl);
  gap: var(--gap-43xl);
}
.div5 {
  position: relative;
  font-weight: 500;
}
.vuesaxlinearticket-icon3 {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.noti-child4 {
  position: relative;
  border-right: 1px dashed var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
  opacity: 0.3;
}
.noti-child6 {
  position: relative;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.noti2 {
  position: absolute;
  top: 958px;
  right: 67px;
  border-radius: var(--br-104xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-5xl);
  gap: var(--gap-5xs);
}
.social-child1 {
  position: relative;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.social1 {
  position: absolute;
  top: 432px;
  right: 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-child20,
.union-icon1 {
  position: absolute;
  top: 701px;
  left: 360px;
  width: 827px;
  height: 197px;
  object-fit: cover;
}
.union-icon1 {
  height: 24.37%;
  width: 25.29%;
  top: 34.14%;
  right: 10.72%;
  bottom: 41.49%;
  left: 63.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.1;
}
.valorant-parent {
  position: relative;
  background-color: var(--color-gray-700);
  width: 100%;
  height: 1075px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
  font-family: var(--font-outfit);
}
